@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global resets */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000; /* Fallback for gradient */
  color: #fff;
}
